{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Lawrence</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/me.jpg' %}" alt="my picture" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Projects</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Lawrence
                        <span class="text-primary">Appiah-Nuamah</span>
                    </h1>
                    <div class="subheading mb-5">
                        Awutu Bereku, C/R · (+233) 2488-38079 ·
                        <a href="mailto:lappiahnuamahfbc1999@gmail.com">lappiahnuamahfbc1999@gmail.com</a>
                    </div>
                    <p class="lead mb-5">I'm a an Aspring Professional Software Engineer & Junior Web developer focused on crafting clean & user‑friendly experiences, I am passionate about building excellent software that improves the lives of those around me.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://linkedin.com/in/lawrence-appiah-nuamah-312b64174"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://instagram.com/appiahlawrence1999"><i class="fab fa-instagram"></i></a>
                        <a class="social-icon" href="https://github.com/lappiahnuamah"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/lawrence199991"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://facebook.com/lawrence.appiahnuamah.73""><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Junior Web Developer</h3>
                            <div class="subheading mb-3">Freelance</div>
                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Web Developer</h3>
                            <div class="subheading mb-3">Freelance</div>
                            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">December 2011 - March 2013</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Junior Web Designer</h3>
                            <div class="subheading mb-3">Freelance</div>
                            <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">July 2010 - December 2011</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Kwame Nkrumah University of Science and Technology, Kumasi</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div>Computer Science</div>
                            <p>GPA: </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">November 2018 - May 2022</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University Practice Senior High School</h3>
                            <div class="subheading mb-3">General Science</div>
                            <p>Aggregate 13</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2015 - June 2018</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-javascript"></i></li>
                        {% comment %} <li class="list-inline-item"><i class="fab fa-angular"></i></li> {% endcomment %}
                        <li class="list-inline-item"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item"><i class="fab fa-django"></i></li>
                        {% comment %} <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                        <li class="list-inline-item"><i class="fab fa-less"></i></li> {% endcomment %}
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        {% comment %} <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li> {% endcomment %}
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mobile-First, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Browser Testing & Debugging
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Functional Teams
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />

            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a web developer, I enjoy most of my time being outdoors. I like reading and tech-enthusiast.</p>
                    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and series, I am an aspiring Software Engineer, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
                </div>
            </section>

            <hr class="m-0" />
            <!-- Blog-->
            <section class="resume-section" id="blog">
                <div class="resume-section-content">
                    <h2 class="mb-5 ">Blog</h2>
                    <div class="row">
                    {% for blog  in blogs%}
                        <div class="card mr-4 mt-4" style="width: 22rem;">
                        <div class="card-body ">
                            <h5 class="card-title">{{blog.title}}</h5>
                            <p class="card-text">{{blog.description |truncatechars:50}}</p>
                            <a href="{{blog.get_absolute_url}}" class="btn btn-primary" >Read More</a>
                            {% if blog.url %}
                            <a href="{{blog.url}}" class="btn btn-danger">Check Link</a>
                            {% endif %}
                        </div>
                        <div class="card-footer text-muted">
                            <p>Last update at {{blog.date}}</p>
                        </div>
                        </div>
                    {% endfor %}  
                    </div>
                </div>
            </section> 
        </div>
{% endblock content %}